@import "../App.scss";

.cart__container {
  margin-top: 8em !important;
  display: flex;
  flex-direction: column;
}
.cart__container__header__heading {
  font-size: $xl-heading;
  font-weight: bold;
  color: $font-color;
}
.cart__container__content {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.cart__container__content__left {
  flex: 1;
  margin-right: 1em;
}
.cart__container__content__right {
  flex: 1;
}
