@import "../App.scss";

.cart__container {
  margin-top: 8em !important;
  display: flex;
  flex-direction: column;
}
.cart__container__header__heading {
  font-size: $xl-heading;
  font-weight: bold;
  color: $font-color;
}
.cart__container__content {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.cart__container__content__left {
  flex: 1;
  margin-right: 1em;
}
.cart__container__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  border: 1px solid $font-color;
  border-radius: 8px;
  padding: 1em;
}
.cart__container__content__left__line {
  border: 1px solid $font-color;
  flex: 1;
  margin: 1em;
}
.cart__container__content__right__line {
  border: 1px solid $font-color;
  border: hidden !important;
  margin: 1em;
}
.cart__container__content__right__total {
  font-size: $xl-heading;
  font-weight: bold;
  color: $highlite;
}
.cart__container__content__left__total {
  font-size: $heading-font-size;
  font-weight: bold;
}
